<ion-header>
  <ion-toolbar>
    <ion-title>new user found</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
  <ion-input name="username" [(ngModel)]="username" type="text" placeholder="Username"></ion-input>
</ion-item>
<ion-item>
  <ion-input name="password"[(ngModel)]="password" type="password" placeholder="password"></ion-input>
</ion-item>
<ion-item>
  <ion-button size="medium" type="submit"color="primary" (click)="Login_user()" >Submit<ion-icon name="arrow-forward"></ion-icon></ion-button>
</ion-item>

</ion-content>
